- name: Try to get fzf version from dnf or apt
  block:
    - name: Get version from dnf
      shell: "dnf info fzf | awk '/^Version/ {print $3}'"
      register: fzf_package_version
      failed_when: false
      changed_when: false
      when: ansible_facts['pkg_mgr'] == 'dnf'

    - name: Get version from apt
      shell: "apt show fzf 2>/dev/null | awk '/^Version:/ {print $2}'"
      register: fzf_package_version
      failed_when: false
      changed_when: false
      when: ansible_facts['pkg_mgr'] == 'apt'

- name: Set default version if fzf not found in repo
  set_fact:
    fzf_repo_version: "{{ fzf_package_version.stdout | default('0.0') }}"

- name: Install fzf via package manager if version >= 0.64
  package:
    name: fzf
    state: present
  when: fzf_repo_version is version('0.64', '>=')

- block:
    - name: Install fzf for x86_64
      block:
        - name: Download fzf binary (x86_64)
          get_url:
            url: https://github.com/junegunn/fzf/releases/download/v{{ fzf_version }}/fzf-{{ fzf_version }}-linux_amd64.tar.gz
            dest: /tmp/fzf.tar.gz
      when: ansible_facts['architecture'] == 'x86_64'

    - name: Install fzf for arm64
      block:
        - name: Download fzf binary (arm64)
          get_url:
            url: https://github.com/junegunn/fzf/releases/download/v{{ fzf_version }}/fzf-{{ fzf_version }}-linux_arm64.tar.gz
            dest: /tmp/fzf.tar.gz
      when: ansible_facts['architecture'] in ['aarch64', 'arm64']

    - name: Extract and install fzf
      unarchive:
        src: /tmp/fzf.tar.gz
        dest: /usr/local/bin
        remote_src: yes
        creates: /usr/local/bin/fzf

    - name: Remove fzf archive
      file:
        path: /tmp/fzf.tar.gz
        state: absent
  when: fzf_repo_version is version('0.64', '<')
