- name: Install LazyGit
  package:
    name: lazygit
    state: present
  register: lazygit_pkg
  ignore_errors: yes

- block:
    - name: Install Neovim for x86_64
      block:
        - name: Download LazyGit binary (x86_64)
          get_url:
            url: https://github.com/jesseduffield/lazygit/releases/download/v{{ lazygit_version }}/lazygit_{{ lazygit_version }}_Linux_x86_64.tar.gz
            dest: /tmp/lazygit.tar.gz
      when: ansible_facts['architecture'] == 'x86_64'

    - name: Install Neovim for arm64
      block:
        - name: Download LazyGit binary (arm64)
          get_url:
            url: https://github.com/jesseduffield/lazygit/releases/download/v{{ lazygit_version }}/lazygit_{{ lazygit_version }}_Linux_arm64.tar.gz
            dest: /tmp/lazygit.tar.gz
      when: ansible_facts['architecture'] in ['aarch64', 'arm64']

    - name: Extract LazyGit tarball
      unarchive:
        src: /tmp/lazygit.tar.gz
        dest: /tmp
        remote_src: yes

    - name: Move lazygit to /usr/local/bin
      copy:
        src: /tmp/lazygit
        dest: /usr/local/bin/lazygit
        mode: "0755"
        remote_src: yes

    - name: Clean up LazyGit temp files
      file:
        path: "{{ item }}"
        state: absent
      loop:
        - /tmp/lazygit
        - /tmp/lazygit.tar.gz
  when: lazygit_pkg is failed
