- name: Try to get nvim version from dnf or apt
  block:
    - name: Get version from dnf
      shell: "dnf info neovim | awk '/^Version/ {print $3}'"
      register: nvim_package_version
      failed_when: false
      changed_when: false
      when: ansible_facts['pkg_mgr'] == 'dnf'

    - name: Get version from apt
      shell: "apt show neovim 2>/dev/null | awk '/^Version:/ {print $2}'"
      register: nvim_package_version
      failed_when: false
      changed_when: false
      when: ansible_facts['pkg_mgr'] == 'apt'

- name: Set default version if nvim not found in repo
  set_fact:
    nvim_repo_version: "{{ nvim_package_version.stdout | default('0.0') }}"

- name: Install nvim via package manager if version >= 0.64
  package:
    name: neovim
    state: present
  when: nvim_repo_version is version('0.64', '>=')

- name: Install Neovim for x86_64
  block:
    - name: Download Neovim tarball (x86_64)
      get_url:
        url: https://github.com/neovim/neovim/releases/download/{{ nvim_version }}/nvim-linux-x86_64.tar.gz
        dest: /tmp/nvim-linux-x86_64.tar.gz
        mode: "0644"

    - name: Extract Neovim tarball (x86_64)
      unarchive:
        src: /tmp/nvim-linux-x86_64.tar.gz
        dest: /tmp
        remote_src: yes

    - name: Rename extracted folder to 'nvim' (x86_64)
      command: mv /tmp/nvim-linux-x86_64 /tmp/nvim
      args:
        creates: /tmp/nvim
  when: ansible_facts['architecture'] == 'x86_64'

- name: Install Neovim for arm64
  block:
    - name: Download Neovim tarball (arm64)
      get_url:
        url: https://github.com/neovim/neovim/releases/download/{{ nvim_version }}/nvim-linux-arm64.tar.gz
        dest: /tmp/nvim-linux-arm64.tar.gz
        mode: "0644"

    - name: Extract Neovim tarball (arm64)
      unarchive:
        src: /tmp/nvim-linux-arm64.tar.gz
        dest: /tmp
        remote_src: yes

    - name: Rename extracted folder to 'nvim' (arm64)
      command: mv /tmp/nvim-linux-arm64 /tmp/nvim
      args:
        creates: /tmp/nvim
  when: ansible_facts['architecture'] in ['aarch64', 'arm64']

- name: remove ~/.local/nvim if exists
  file:
    path: "/home/{{ ansible_user }}/.local/nvim"
    state: absent

- name: Ensure ~/.local directory exists
  become: true
  become_user: "{{ ansible_user }}"
  file:
    path: "/home/{{ ansible_user }}/.local"
    state: directory
    mode: "0755"

- name: Move nvim to ~/.local
  copy:
    src: /tmp/nvim
    dest: /home/{{ ansible_user }}/.local
    remote_src: yes

- name: Clean up neovim temp files
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /tmp/nvim
    - /tmp/nvim-linux-x86_64.tar.gz
    - /tmp/nvim-linux-arm64.tar.gz

- name: Ensure .bashrc exists
  file:
    path: "/home/{{ ansible_user }}/.bashrc"
    state: touch
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0644"

- name: Ensure ~/.local/nvim/bin is in PATH via .bashrc
  lineinfile:
    path: "/home/{{ ansible_user }}/.bashrc"
    regexp: 'export PATH=\$HOME/\.local/nvim/bin:\$PATH'
    line: "export PATH=$HOME/.local/nvim/bin:$PATH"
    state: present
