- name: install updates (Debian based)
  apt:
    upgrade: dist
    update_cache: yes
  when: ansible_facts['os_family'] == 'Debian'

- name: install updates (RedHat based)
  dnf:
    update_only: yes
    update_cache: yes
  when: ansible_facts['os_family'] == 'RedHat'

- name: Install EPEL (RedHat based)
  block:
    - name: Attempt to install EPEL using dnf
      dnf:
        name: epel-release
        state: present
      register: epel_dnf_result
      ignore_errors: yes
  when: ansible_facts['os_family'] == 'RedHat'
 
- name: Fallback to manual EPEL install if DNF failed
  block:
    - name: Download EPEL RPM manually
      get_url:
        url: "https://dl.fedoraproject.org/pub/epel/epel-release-latest-{{ ansible_distribution_major_version }}.noarch.rpm"
        dest: /tmp/epel-release.rpm
 
    - name: Install downloaded EPEL RPM
      dnf:
        name: /tmp/epel-release.rpm
        disable_gpg_check: yes
        state: present
  when: epel_dnf_result is failed
